.background {
    background-color: red;
    width: 100%;
}

.content {
    background-color: blue;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background-color: green;
    height: 250px;
}

.name {
    font-size: 24px;
    line-height: 40px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;
}

.headercontent {
    padding: 25px;
    display: flex;
    width: 100%;
}

.left {
    flex: 5;
    display: flex;
}

.right {
    flex: 1;
}

.mainBody{
    height: 800px;
    display: flex;
}

.images {
    padding: 25px;
    flex: 8;
}

.sideBar {
    flex: 3;
}