.navbar {
    margin: 0;
    display: flex;
    align-items: center;
    
    background: rebeccapurple;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

.navbarTitle {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
    cursor: pointer;
    vertical-align: middle;
}

.navbarItem {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}